---
layout: layouts/base.njk
pageClass: intro
---

<article class="intro">
  <div class="layout-spacer"></div>
  {% include "header-intro.njk" %}
  <header class="intro__header">
    <h1>Hi, I'm&nbsp;<br> <strong>Aaquib Ali</strong></h1>
    {# <h2 title='You can do it pal!'>/'aaquib ali/</h2> #}
  </header>
  <section class="intro-content">
    <p>
      i'm just a rondom guy who loves to <a href=''>code</a>, do <a href='/notes'>random stuff</a>, I like to <a href="/blog">write</a> 
      about the&nbsp;things I <a href='/projects'>make</a> &amp; learn and watch anime.
    </p>
    <p>
      I offer consulting and digital <a href=''>services</a> for small bussiness and&nbsp;startup's. <br>Got an idea worth building? <a href="https://calendly.com/hey_hey/work-chat" data-sonnet-event='click:get-in-touch'>Get in touch!</a></p>
    <hr>

  </section>
  {# <div class="intro__decor"></div> #}
</article>
